{%  extends 'base.html' %}
{%  block title %} 发布问答 {%  endblock %}
<div class="row "  style="margin-top:20px;">
    <div class="col"></div>
    <div class="col-8">
        <h1 style="text-align: center" class="pb-3"> 发布问答 </h1>
        <form action="">
            <div class="from-group pb-4">
                <input type="text" class='form-control' name="title" placeholder="请输入问题标题" >
            </div>

            <div class="from-group pt-2">
                <textarea name="content" class="form-control" cols="30" rows="15" placeholder="请输入内容"></textarea>
                <button class="btn btn-secondary">发&nbsp;布</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{%  block body %}  {% endblock %}